## [Core]
# Descarta arquivos de compilação do .NET
bin/
obj/

## [Visual Studio / VS Code / Rider]
# Configurações locais de IDEs
.vs/
.idea/

## [OS Specific]
# Arquivos de sistema do macOS e Windows
.DS_Store
Thumbs.db

## [Logs]
# Arquivos de log gerados em tempo de execução
.local/
.nuget
*.DotSettings.user

## [Agent / MCP]
.agents/mcp_config.json


